<!-- Missing paginator on table -->
<div class="admin-page card">
  <div class="card-header">
    Content
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <div class="row">
      <div class="col-2">
        <nav class="nav nav-pills flex-column flex-sm-row">
          <button class="flex-sm-fill text-sm-center nav-link active" aria-current="page" [routerLink]="'form'">+
            New</button>

        </nav>
      </div>
    </div>
    <hr>
    <br>
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>

              <th scope="col">Name</th>
              <th scope="col" class="d-sm-none d-md-block">Image</th>
              <th scope="col">Price</th>
              <th scope="col">Stock</th>
              <th scope="col">Category</th>
              <th scope="col" class="d-sm-none d-md-block">Created at</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">

              <td>{{product.name}}</td>
              <td class="d-sm-none d-md-block"><img style="width: 100px;" [src]="product.image" [alt]="product.name">
              </td>
              <td>{{product.price}}</td>
              <td>{{product.countInStock}}</td>
              <td>{{product.category?.name}}</td>
              <td class="d-sm-none d-md-block">{{product.dateCreated | date: 'short' }}</td>
              <td>
                <button (click)="onDeleteProduct(product.id)" type="button" class="btn btn-danger btn-sm  m-1"><i
                    class="bi bi-trash"></i></button>
                <button (click)="onUpdateProduct(product.id)" type="button" class="btn btn-primary btn-sm m-1"><i
                    class="bi bi-pencil"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
