<div class="admin-page card" *ngIf="order">
  <div [innerText]="'View order'" class="card-header">
  </div>
  <h5 class="card-title">You edit can order status here</h5>
  <hr>
  <div class="m-4">
    <div class="accordion" id="myAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
            data-bs-target="#collapseOne">Order Details</button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                <h6>Order Id</h6>
                <p>{{order.id}}</p>
              </div>
              <div class="col-4">
                <h6>Order Date</h6>
                <p>{{order.dateOrdered | date: 'short'}}</p>
              </div>
              <div class="col-4">
                <h6>Order Status</h6>
                <select (change)="onChangeStatus($event)" [(ngModel)]="selectedStatus" class="form-select"
                  aria-label="Default select example">
                  <!--  -->
                  <option *ngFor="let label of orderStatuses" [value]="label.id">
                    {{label.name}}</option>

                </select>
              </div>
              <div class="col-4">
                <h6>Order Total Price</h6>
                <p>{{order.totalPrice | currency: 'EUR'}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">See
            your orders</button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
          <div class="card-body">
            <div class="row">
              <div class="col-2">Name</div>
              <div class="col-2">Brand</div>
              <div class="col-2">Category</div>
              <div class="col-2">Price</div>
              <div class="col-2">Quantity</div>
              <div class="col-2">Subtotal</div>
            </div>
            <div class="row" *ngFor="let orderItem of order.orderItems">
              <div class="col-2">{{orderItem.product?.name}}</div>
              <div class="col-2">{{orderItem.product?.brand}}</div>
              <div class="col-2">{{orderItem.product?.category?.name}}</div>
              <div class="col-2">{{orderItem.product?.price | currency: 'EUR'}}</div>
              <div class="col-2">{{orderItem?.quantity}}</div>
              <div class="col-2">{{orderItem.product?.price * orderItem.quantity | currency: 'EUR'}}</div>
            </div>
            <div class="row">
              <div class="col-2 offset-8 text-success">Total Price</div>
              <div class="col-2 text-success">{{order.totalPrice | currency: 'EUR'}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
            data-bs-target="#collapseThree">Contact Info</button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                <h6>Order Address</h6>
                <p>
                  {{order.shippingAddress1}} <br>
                  {{order.shippingAddress2}} <br>
                  {{order.zip}} <br>
                  {{order.country}}
                </p>
              </div>
              <div class="col-4">
                <h6>Customer Info</h6>
                <p>{{order.user.name}}</p>
              </div>
              <div class="col-4">
                <h6>Contact Info</h6>
                <p>{{order.phone}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
