<div class="admin-page">
  <div class="card-header">
    Dashoboard
  </div>
  <div class="card-body">
    <h5 class="card-title">Latest updates</h5>
    <div class="row">
      <div class="col-md-3 m-3">
        <div class="d-orders">
          <div class="d-item">
            <div>
              <i class="bi bi-cart"></i><br>
              <span class="name">Orders</span>
            </div>

            <span class="number">{{ orders }}</span>

          </div>
        </div>
      </div>
      <div class="col-md-3 m-3">
        <div class="d-products">
          <div class="d-item">
            <div>
              <i class="bi bi-briefcase"></i><br>
              <span class="name">Products</span>
            </div>

            <span class="number">{{products}}</span>

          </div>
        </div>
      </div>
      <div class="col-md-3 m-3">
        <div class="d-users">
          <div class="d-item">
            <div>
              <i class="bi bi-people"></i><br>
              <span class="name">Users</span>
            </div>

            <span class="number">{{users}}</span>

          </div>
        </div>
      </div>
      <div class="col-md-3 m-3">
        <div class="d-totalsales">
          <div class="d-item">
            <div>
              <i class="bi bi-cart"></i><br>
              <span class="name">Total Sales</span>
            </div>

            <span class="number">{{totalSales | currency: 'EUR'}}</span>

          </div>
        </div>
      </div>
    </div>
  </div>
