@import './base/colors.scss';
@import './base/fonts.scss';
@import './base/mixins.scss';
@import './base/configuration.scss';

// Libraries
@import '~bootstrap/dist/css/bootstrap.min.css';
// @import '../node_modules/bootstrap/dist/js/bootstrap.min.js';
@import '~bootstrap-icons/font/bootstrap-icons.css';

// Shared
@import './apps/admin/shell.scss';

// libs
@import './libs/ui/ui.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
